html,p,h1,h2,h3,h4,h5,h6,a,input {
	font-family: "Open Sans",'Hiragino Kaku Gothic ProN',"Hiragino Sans GB","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif !important;
	-webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: sans-serif;
	src: local("Helvetica");
}

@font-face {
	font-family: 'Verdana';
	src: local("Hiragino Sans GB");
}

@font-face {
	font-family: serif;
	src: local("Times");
}

@font-face {
	font-family: 'Microsoft Yahei';
	src: local("Heiti SC");
}

@font-face {
	font-family: 'Georgia';
	src: local("Helvetica");
}

@font-face {
	font-family: '微软雅黑';
	src: local("Helvetica");
}

@font-face {
	font-family: '宋体';
	src: local("Helvetica");
}

@font-face {
	font-family: 'simsun';
	src: local("Helvetica");
}


@font-face {
	font-family: 'simhei';
	src: local("Helvetica");
}

@font-face {
	font-family: 'Hei';
	src: local("Heiti SC");
}

@font-face {
	font-family: '黑体';
	src: local("Heiti SC");
}

@font-face {
	font-family: 'PT Serif';
	src: local("Helvetica Neue");
}

